In [3]:
import numpy as np
import pandas as pd

In [6]:
test = pd.read_csv('Summary.csv')
test.head()

,Origin,TotalFlightCount,TotalCarrierDly,TotalWeatherDly,TotalNASDly,TotalSecurityDly,TotalLateAircraftDly,AvgDly
0,ABE,2369,10524,966,6012,0,11763,12.35
1,ABQ,19012,51772,8530,31747,648,88578,9.53
2,ABR,743,3909,64,832,40,2268,9.57
3,ABY,1002,4837,0,749,0,5217,10.78
4,ACT,1419,6784,0,1482,0,8495,11.81

In [17]:
test['TotalDly'] = test.iloc[:,1:7].sum(axis=1)
test['PercentCarrierDly'] = test['TotalCarrierDly'] / test['TotalDly']
test['PercentWeatherDly'] = test['TotalWeatherDly'] / test['TotalDly']
test['PercentNASDly'] = test['TotalNASDly'] / test['TotalDly']
test['PercentSecurityDly'] = test['TotalSecurityDly'] / test['TotalDly']
test['PercentLateAircraftDly'] = test['TotalLateAircraftDly'] / test['TotalDly']
test.head()

,Origin,TotalFlightCount,TotalCarrierDly,TotalWeatherDly,TotalNASDly,TotalSecurityDly,TotalLateAircraftDly,AvgDly,TotalDly,PercentCarrierDly,PercentWeatherDly,PercentNASDly,PercentSecurityDly,PercentLateAircraftDly
0,ABE,2369,10524,966,6012,0,11763,12.35,31634,0.332680,0.030537,0.190049,0.000000,0.371847
1,ABQ,19012,51772,8530,31747,648,88578,9.53,200287,0.258489,0.042589,0.158508,0.003235,0.442255
2,ABR,743,3909,64,832,40,2268,9.57,7856,0.497581,0.008147,0.105906,0.005092,0.288697
3,ABY,1002,4837,0,749,0,5217,10.78,11805,0.409742,0.000000,0.063448,0.000000,0.441931
4,ACT,1419,6784,0,1482,0,8495,11.81,18180,0.373157,0.000000,0.081518,0.000000,0.467272

In [20]:
test.to_csv("Summary2.csv")